@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
    height: 100%;
    background-image: url(../imagens/fundo-netflix.jpg);
}
.center{
    max-width: 1200px;
}
.center2{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    padding: 0 2%;
    background-color: rgba(0,0,0,0.6);
}
header img{
    max-height: 100px;
    cursor: pointer;
}
section.box{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 60px;
}
section.box .box-single{
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 60px 68px 40px;
    max-width: 450px;
}
.box-single > h1{
    font-size: 32px;
    padding: 0 0 28px;
}
.box-single form input[type=text]{
    width: 100%;
    background-color: #333;
    border: none;
    border-radius: 4px;
    height: 50px;
    padding: 20px;
    margin-bottom: 18px;
    color: #ffff;
}
.box-single form input[type=text]::placeholder{
   color: #8c8c8c;
   font-size: 16px;
}
.box-single form input[type=button]{
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 24px 0 12px;
}
.footer-form{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px
}
form a,form label{
    color: #b3b3b3;
    font-size: 13px;
}
.chamada{
    padding: 10px 0;
}
.chamada span{
    font-size: 16px;
    color: #b3b3b3;
}
.chamada a{
    color: white;
}
.chamada a:hover,
.footer-span a:hover,
.final span a:hover{
    text-decoration: underline;
}
.final{
    min-height: 141px;
}
.final span{
    font-size: 14px;
    color: #b3b3b3;
}
.final a{
    color: #0071eb;
}
footer{
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 30px 2%;
    padding-bottom: 50px;
}
footer p, footer p a{
    font-size: 16px;
    padding: 0 0 30px;
    color: #737373;
}
footer ul li{
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    width: 24%;
}
footer .links-ctt li a, footer .links-ctt2 li a{
    font-size: 13px;
    color: #737373;
}
footer .links-ctt2{
    padding-bottom: 15px;
}
footer .links-ctt li a:hover,
footer .links-ctt2 li a:hover,
footer p a:hover{
    text-decoration: underline;
}
select{
    padding: 15px 20px;
    border: 1px solid #333;
    background-color: rgba(0,0,0,1);
    color:#b3b3b3;
}
.ultima{
    background-color: #ffff;
    text-align: center;
    padding: 5px 2%;
    color: #333;
}
.ultima a{
    text-decoration: underline;
    color: #333;
}
@media screen and (max-width: 768px){
    header{
        background-color: rgba(0,0,0,1);
        padding: 10px 0;
    }
    header img{
        width: 200px;
    }
    section.box{
        background-color: rgba(0,0,0,1);
        padding: 0;
    }
    section.box .box-single{
        min-width: 100%;
        padding: 60px 5%;
        padding-top: 0;
        border-bottom: 2px solid #333
    }
    form{
        width: 100%;
    }
    .footer-form{
        padding: 10px 0;
    }
    .final{
        min-height: 100px;
    }
    footer{
        background-color: rgba(0,0,0,1);
    }
}